.direnv/
.pre-commit-config.yaml
ext/.libs/
ext/.codetracer_trace_writer_nim_orig.h.tmp
ext/Makefile
ext/Makefile.fragments
ext/Makefile.objects
ext/autom4te.cache/
ext/build/
ext/codetracer.la
ext/codetracer_php.dep
ext/codetracer_php.lo
ext/config.h
ext/config.h.in
ext/config.h.in~
ext/config.log
ext/config.nice
ext/config.status
ext/configure
ext/configure.ac
ext/configure~
ext/libtool
ext/modules/
ext/run-tests.php
